$placeholder: #667281;
$black: #111;
$gray_line: #ebeef6;

.customTable {
	margin: 15px 0;
	table {
		width: 100%;

		thead {
			th {
				font-size: 13px;
				font-weight: 500;
				color: $placeholder;
				padding: 12.5px 24px;
			}
		}

		tbody {
			td {
				color: $black;
				padding: 32px 24px;
			}
		}

		th,
		td {
			border-bottom: 1px solid $gray_line;
			text-align: left;

			&:first-child {
				width: 65px;
				text-align: center;
			}
		}
	}
}
