$sec_blue: #f5f6fa;
$dark_blue: #177eff;
$placeholder: #667281;
$danger: #f00;

.customInput {
	width: 356px;
	height: 38px;
	margin-bottom: 8px;
	background-color: $sec_blue;
	border-radius: 8px;
	padding: 0 12px;
	border: 1px solid $sec_blue;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
	}

	&__isErr {
		border: 1px solid $danger;
	}
}
