$sec_blue: #f5f6fa;
$dark_blue: #177eff;
$danger: #f00;

.customInput {
	@apply w-[356px] h-[38px] mb-2 bg-background-secondary rounded-lg px-3 border border-background-secondary;

	&:focus {
		@apply outline-none shadow-md;
	}

	&__isError {
		@apply border border-red-600;
	}
}
