$placeholder: #667281;
$black: #111;
$gray_line: #ebeef6;

.customTable {
	margin: 28px 0;

	table {
		width: 100%;

		thead {
			th {
				font-size: 13px;
				font-weight: 500;
				color: $placeholder;
				padding: 12.5px 24px;
			}
		}

		tbody {
			td {
				color: $black;
				padding: 32px 24px;
			}
		}

		th,
		td {
			border-bottom: 1px solid $gray_line;
			text-align: left;
			white-space: nowrap;

			&:first-child {
				width: 65px;
				text-align: center;
			}

			&:nth-child(2) {
				white-space: wrap;
				width: calc(100% - 200px);
			}
		}
	}

	@media (max-width: 990px) {
		overflow-x: scroll;

		&::-webkit-scrollbar {
			width: 0;
			height: 8px;
			background-color: $placeholder;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $gray_line;
			border-radius: 10px;
		}

		table {
			width: 780px;
		}
	}
}
