.posts {
	&__header,
	&__switchers,
	&__footer {
		display: flex;
		align-items: center;
		padding: 0 24px;
	}

	&__header,
	&__footer {
		justify-content: space-between;
	}

	&__header {
		margin-bottom: 12px;
	}

	&__footer {
		margin-top: 40px;
	}
}
